body {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

.mui-appbar {
  background-color: #00bcd4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

#app {
  padding: 8px;
  background: #eee;
}
